section{
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: aliceblue;

}
img{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
}
.badass-section{
    background-color: blueviolet;
    width: 40%;
}

li{
    display:inline;
    margin:30px
}
ul{
    margin: 20px 0px;;
}

body{
    margin: 0;
}
header{
    position:fixed;
    background: teal;
    width: 100%;
}
main{
    padding-top:20%;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: rgb(179, 0, 250);
    color:azure

}
p{
    margin-left: 30px;
}
#footer-text{
    margin-left: 30px;
    background-color: red;
}

#burger-icon{
    display: none;

}

@media(max-width: 430px){
    #navbar{
        display: none;
    }
    #burger-icon{
        display: block;
    }
    #section{
        margin:20px 0px;
    }
}