section{
    padding: 20px;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: blueviolet;
    height: 70px;
}
.badass-section{
    background-color: royalblue;
    width: 40%;
    float: right;
    height: auto;
    margin-right: 50px;
}