*{
    font-family: "Lato",sans-serif;
}
h1{
    font-family: "Railway",sans-serif;
}

/*
this is a short hand
h1,h2,h3,h4,h5,h6{
    font-family: "Railway",sans-serif;
}
*/
#specificity-section{
    background-color: red;
    padding: 10px;
    margin:10px;
    border-radius: 10px
}
section.a2{
    background-color: aquamarine;
    border: none;
}

#intro_to_specificity{
    background-color: orange;
}
#intro_to_specficity{
    background-color: azure;
}
main section.a2#intro-to-specificity2{
    background-color: red;
    border: none;
}